.card{
    display: 1;
}

.col{
    display: flex;
}

@media (max-width: 768px) {
    .card-div {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }