<app-nav-bar></app-nav-bar>
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="form-group">
                <form autocomplete="off" [formGroup]="categoryForm" (ngSubmit)="addCategory()">
                    <label for="exampleInputEmail1" class="form-label mt-4">Categoria: </label>
                    <input type="text" class="form-control"
                             placeholder="Ingrese el titulo" formControlName="category" required>
                    <br> <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
