.cursor{
    cursor: pointer;
}

.cart{
    position: relative;
}

.cart-text{
    position: absolute;
    background-color: red;
    border: 2px red solid;
    border-radius: 50%;
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}